{% extends "base.twig" %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Hello Fred</h1>
			<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
			{% include "add_event_form.twig" %}
			<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
			{% include "add_guest.twig" %}
		</div>
	</div>
{% endblock %}
